@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --primary-button: #036666;
    --main-box: #78c6a3;
    --background-dark: #99E2B4;
    --background-light: #E4FFEE;
    --dark-text: #000000;
    --light-text: #FFFFFF;
}

body{
    font-family: "AR One Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ARRR" 10;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-section {
    height: 85px;
    padding-top: 10px;
    box-shadow: 0 4px 2px -2px gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; 
    padding: 10px 0;
    text-align: center;
}

.header-lg{
    height: 85px;
    padding-top: 10px;
    box-shadow: 0 4px 2px -2px gray;
}

.header-lg-text{
    text-align: center;
    font-size: 2.5rem;
}

.energy-span{
    color: var(--background-dark)
}

.wise-span{
    color: var(--primary-button)
}

h2 {
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    color: #036666
}

.lg-button{
    border-radius: 10px;
    background: var(--primary-button);
    color: var(--light-text);
    font-size: large;
    width: 130px;
    height: 50px;
    border: none;
}

.sm-button{
    border-radius: 10px;
    background: var(--primary-button);
    color: var(--light-text);
    font-size: medium;
    min-width: 90px;
    height: 30px;
    border: none;
}

.background-div{
    min-height: 100vh;
    background: linear-gradient(var(--background-dark), var(--background-light));
    text-align: center;
    margin-top: 2px;
}

.background-image{
    width: 350px;
}

@media screen and (min-width: 650px) {
    .background-image{
        width: unset;
    }
}

@media screen and (min-width: 800px) {
    .background-div{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.nav-bottom{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    background-color: var(--primary-button);
}

.nav-bottom a:hover, a:active, a:link, a:visited{
    text-decoration: none;
    color: var(--light-text);
}

#buttons {
    display:flex;
    gap: 6vw;
    justify-content: center;
    margin-top: 10vh;
}