@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');
@import url('components.css');

:root{
    --primary-button: #036666;
    --main-box: rgba(120, 198, 163, 0.9); /* Slight transparency */
    --background-dark: #99E2B4;
    --background-light: #E4FFEE;
    --dark-text: #000000;
    --light-text: #FFFFFF;
}

body {
    font-family: "AR One Sans", sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}



.top-section {
    height: 85px;
    padding-top: 10px;
    box-shadow: 0 4px 2px -2px gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; 
    padding: 10px 0;
    text-align: center;
}

/* Title Styling */
.energy-span{
    color: var(--background-dark);
}
.wise-span{
    color: var(--primary-button);
}

.background-div{
    background: linear-gradient(var(--background-dark), var(--background-light));
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    margin-top: 2px;
    /*  */
    z-index: -1;
    position: fixed;
}

/* Globe Background Image */
.background-image {
    width: 350px;
}

/* Registration Form Container */
.form-container {
    margin-left: 20px;
    background-color: var(--main-box);
    padding: 20px;
    margin-top: 140px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form Title */
h2 {
    color: var(--light-text);
    font-size: 32px;
}

/* Input Fields */
input {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    text-align: center;
    background-color: #f5f5f5;
}

/* Submit Button */
.lg-button {
    width: 70%;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-button);
    color: var(--light-text);
    margin: 20px;
}

/* Paragraph Text */
p {
    font-size: 14px;
    margin-top: 10px;
    color: var(--dark-text);
}

/* Links */
a {
    color: var(--primary-button);
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
.footer {
    width: 100%;
    text-align: center;
    background-color: var(--primary-button);
    color: var(--light-text);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

